:root{
    --bg-color:hsl(219, 30%, 17%);
    --list-color: hsl(240, 14%, 21%);
    --fon-color: white;
}
.dark{
    --bg-color:white;
    --list-color: white;
    --fon-color:black;
}
body{
    font-family: 'Georgia, 'Times New Roman', Times, serif';
    background-color:var(--bg-color);
}
.addshow{
display: none;
width: 500px;
height: 650px;
position: relative;
left: 150px;
bottom: 1700px;
border: none;
}
.alist:hover{
    width: 60px;
    display: block;
}
.dropdown {
    position: absolute;
    display: inline-block;
    bottom: 2px;
}
.dropdown-input{
    
    font-size: 16px;
    
    
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 1000px;
}

.dropdown-content a {
    color: white;
    padding: 12px;
    display:inline-block;
    text-decoration: none;

    
   
}

.dropdown:hover .dropdown-content {
    display:block;
}

#list{
    background-color: var(--list-color);
    width: 250px;
    height: 730px;
    position: relative;
    bottom: 25px;
    border: 3px;
    color: var(--fon-color);
}
#list2{
    width: 85%;
    background-color:  var(--list-color);
    position: relative;
    bottom: 775px;
    left: 240px;
    border: 3px;
    color: var(--fon-color);
}
h1{
    position: relative;
    top: 10px;
}
h2{
    position: relative;
    top: 25px;
    left: 10px;
}
h4{
    font-size: 13px;
    color: darkgray;
    position: relative;
    top: 10px;
    left: 5px;
}
input[type=image]{
    width: 30px;
    position: absolute;
    left: 1030px;
    bottom: 17px;
}
.img1{
    position: relative;
    right: 15%;
    width: 20px;
}
.Kanban{
    width: 40px;
    position: relative;
    top: 10px;
}
.moon{
    width: 20px;
    position: relative;
    left: 55px;
    top: 5px;
}
.sun{
    width: 20px;
    position: relative;
    left: 80px;
    top: 5px;
}
.pre1{
position: relative;
top: 360px;
left: 50px;
color: #e6ececae;
}

a{
    position: relative;
    left: 40px;
  width: 550px;
    background-color: hsl(240, 14%, 21%);
    color: #e6ececae;
    border:hsl(240, 14%, 21%) solid;
    text-decoration: none;
}
a:hover{
width: 650px;
border: 2px solid;
padding: 2px;
border-radius: 15px;
border-color: #2196F3;
background-color: #2196F3;

}
.a1{
    position: relative;
    top: 15px;
}
.a2{
    position: relative;
    top: 30px;
}
.a3{
    position: relative;
    top: 45px;
}
.a4{
    color: blueviolet;
    position: relative;
    top: 60px;
}
#Add{
    width: 130px;
    height: 35px;
    position: relative;
    left: 80%;
    bottom: 30px;
    color: white;
   
}
.switch1{
    width: 200px;
    height: 30px;
    background-color:hsl(219, 30%, 17%);
    border-radius: 5px;
    position: relative;
    top: 370px;
    left: 25px;
}
#switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
    left: 70px;
    top: 5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  
  .box{
    width: 285px;
    height: 80px;
    background-color:hsl(240, 14%, 21%);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
  .box2{
    position: relative;
    bottom: 760px;
    left: 360px;
  }
  .dong{
    position: relative;
    bottom: 410px;
    left: 300px;
  }
  .done{
    position: relative;
    bottom: 1010px;
    left: 600px;
  }
  p{
    position: relative;
    left: 8px;
    font-size: 10px;
  }
  .Circle{
    width: 15px;
    position: relative;
    top: 4px;
  }
  .addtask{width: 350px;
    height: 400px;
    padding: 2px;
    border: 2px;
    border-radius: 6px;
    position: relative;
    left: 450px;
    top: 150px;

  }
  @media only screen and (max-width:1400px){
    body{
        width: 100%;
       
    }
     
}